# /etc/systemd/system/worker_video.service
#
# See also https://wiki.debian.org/systemd/Services

[Unit]
Description=Video Processing Worker
After=Network.target

[Service]
Type=simple
Restart=always
TimeoutSec=5
RestartSec=10
ExecStart=/home/pi/camera-watcher/pyenv-watcher/bin/rq worker -u redis://192.168.0.2 -s video default
Environment=WATCHER_CONFIG=/home/pi/camera-watcher/application.cfg
WorkingDirectory=/home/pi/camera-watcher

User=motion
Group=video
UMask=0002

[Install]
WantedBy=multi-user.target

