# /etc/systemd/system/worker_io.service
#
# See also https://wiki.debian.org/systemd/Services

[Unit]
Description=Watcher IO worker
After=Network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/camera-watcher/pyenv-watcher/bin/python /home/pi/camera-watcher/watchutil.py ioworker
Environment=WATCHER_CONFIG=/home/pi/camera-watcher/application.cfg
WorkingDirectory=/home/pi/camera-watcher

User=motion
Group=video
UMask=0002

[Install]
WantedBy=multi-user.target

